Nội dung:
     Các lệnh cơ bản trong thư viện pandas.
    source: https://pandas.pydata.org/docs/getting_started/dsintro.html

Sử dụng thư viện

In [1]:
import pandas as pd
import numpy as np

Đọc file, trả về là một dataframe

In [2]:
people_df = pd.read_csv('people.csv', encoding='utf-8')

Hiển thị 5 bản ghi đầu tiên trong dataframe

In [3]:
people_df.head()

,person_ID,name,first,last,middle,email,phone,fax,title,age
0,3130,"Burks, Rosella",Rosella,Burks,NaN,BurksR@univ.edu,963.555.1253,963.777.4065,Professor,25
1,3297,"Avila, Damien",Damien,Avila,NaN,AvilaD@univ.edu,963.555.1352,963.777.7914,Professor,23
2,3547,"Olsen, Robin",Robin,Olsen,NaN,OlsenR@univ.edu,963.555.1378,963.777.9262,Assistant Professor,21
3,1538,"Moises, Edgar Estes",Edgar,Moises,Estes,MoisesE@univ.edu,963.555.2731x3565,963.777.8264,Professor,18
4,2941,"Brian, Heath Pruitt",Heath,Brian,Pruitt,BrianH@univ.edu,963.555.2800,963.777.7249,Associate Curator,30

Các thao tác với dataframe trong pandas

In [4]:
# Xem kích thước của dataframe
print("Kích thước của dataframe:",people_df.shape) # số hàng, số cột
# Xem thông tin của dataframe
print("Thông tin của dataframe", people_df.info())

Kích thước của dataframe: (40, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   person_ID  40 non-null     int64
 1   name       40 non-null     object
 2   first      40 non-null     object
 3   last       40 non-null     object
 4   middle     15 non-null     object
 5   email      40 non-null     object
 6   phone      40 non-null     object
 7   fax        40 non-null     object
 8   title      40 non-null     object
 9   age        40 non-null     int64
dtypes: int64(2), object(8)
memory usage: 3.2+ KB
Thông tin của dataframe None

In [5]:
# truy xuất dữ liệu trong dataframe
# lấy các trường dữ liệu (các cột) trong dataframe 
A = people_df.columns
print(A)
# đưa các cột về một numpy array
B = np.array(A)
print(B)

Index(['person_ID', 'name', 'first', 'last', 'middle', 'email', 'phone', 'fax',
       'title', 'age'],
      dtype='object')
['person_ID' 'name' 'first' 'last' 'middle' 'email' 'phone' 'fax' 'title'
 'age']

In [11]:
# lấy 1 cột theo tên cột
print(people_df["person_ID"]) 
#print(people_df[B[0]])
# đưa về một numpy array
C = np.array(people_df["person_ID"])
print(C)
# cách khác
D = people_df["person_ID"].values
print(D)

0     3130
1     3297
2     3547
3     1538
4     2941
5     2401
6     2070
7     2561
8     1625
9     1307
10    2342
11    2755
12    4150
13    3544
14    2096
15    1089
16    2948
17    4539
18    2811
19    4580
20    2895
21    2254
22    2389
23    1699
24    1567
25    3066
26    2426
27    2217
28    1968
29    3012
30    1824
31    3929
32    2682
33    3112
34    2303
35    3903
36    3095
37    2383
38    2146
39    3958
Name: person_ID, dtype: int64
[3130 3297 3547 1538 2941 2401 2070 2561 1625 1307 2342 2755 4150 3544
 2096 1089 2948 4539 2811 4580 2895 2254 2389 1699 1567 3066 2426 2217
 1968 3012 1824 3929 2682 3112 2303 3903 3095 2383 2146 3958]
[3130 3297 3547 1538 2941 2401 2070 2561 1625 1307 2342 2755 4150 3544
 2096 1089 2948 4539 2811 4580 2895 2254 2389 1699 1567 3066 2426 2217
 1968 3012 1824 3929 2682 3112 2303 3903 3095 2383 2146 3958]

In [9]:
# lấy bản ghi theo chỉ số
print(people_df[0:5])

   person_ID                 name    first    last  middle             email  \
0       3130      Burks, Rosella   Rosella   Burks     NaN   BurksR@univ.edu
1       3297       Avila, Damien    Damien   Avila     NaN   AvilaD@univ.edu
2       3547        Olsen, Robin     Robin   Olsen     NaN   OlsenR@univ.edu
3       1538  Moises, Edgar Estes    Edgar  Moises   Estes  MoisesE@univ.edu
4       2941  Brian, Heath Pruitt    Heath   Brian  Pruitt   BrianH@univ.edu

               phone           fax                title  age
0       963.555.1253  963.777.4065            Professor   25
1       963.555.1352  963.777.7914           Professor    23
2       963.555.1378  963.777.9262  Assistant Professor   21
3  963.555.2731x3565  963.777.8264            Professor   18
4       963.555.2800  963.777.7249   Associate Curator    30

In [16]:
#tạo một numpy array với nhiều trường
E = people_df[["person_ID","age"]].values
print(E)

[[3130   25]
 [3297   23]
 [3547   21]
 [1538   18]
 [2941   30]
 [2401   35]
 [2070   35]
 [2561   35]
 [1625   29]
 [1307   29]
 [2342   28]
 [2755   23]
 [4150   22]
 [3544   22]
 [2096   25]
 [1089   24]
 [2948   25]
 [4539   25]
 [2811   25]
 [4580   25]
 [2895   28]
 [2254   28]
 [2389   28]
 [1699   28]
 [1567   28]
 [3066   25]
 [2426   25]
 [2217   25]
 [1968   25]
 [3012   25]
 [1824   25]
 [3929   25]
 [2682   25]
 [3112   25]
 [2303   25]
 [3903   25]
 [3095   25]
 [2383   25]
 [2146   25]
 [3958   25]]